<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.amnesia.clipboardd</string>

    <!-- Update this path to wherever you install the binary (see README). -->
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/clipboardd</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/clipboardd.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/clipboardd.err.log</string>
</dict>
</plist>
